---
layout: compress
---
<html class="no-js" lang="en">
<head>
    {% include head.html %}
</head>


<body class="gallery">
{% include nav.html %}
<!-- Header -->
<header class="header" role="banner">
    <div class="wrapper animated fadeIn">
        <div class="content">
            <div class="post-title">
                <h1>{{ page.title }}</h1>
                <a class="btn zoombtn" href="{{site.url}}">
                    <i class="fa fa-home"></i>
                </a>
            </div>


            <div class="post-list">
                <section id="content" role="main">
                    <div class="wrapper">


                        <!-- Gallery __-->
                        <div class="gallery masonry-gallery">
                            {% for image in page.images %}

                            <figure class="gallery-item">
                                <figure class="effect-selena">
                                    <header class='gallery-icon'>
                                        <a href="{{ site.url }}{{ image.gallery-folder }}">
                                            <img src="{{ site.url }}{{ image.image_path }}"></a>
                                    </header>
                                    <figcaption class='gallery-caption'>
                                        <div class="entry-summary">
                                            <h3>{{image.gallery-name}}</h3>
                                            <p>{{image.gallery-date}}</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </figure>

                            {% endfor %}

                        </div>

                    </div><!-- END .wrapper -->
                </section>


                <!-- jQuery -->

                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script src="{{ site.url }}/js/retina.min.js"></script>
                <!-- include Masonry -->
                <script src="{{ site.url }}/js/isotope.pkgd.min.js"></script>
                <!-- include mousewheel plugins -->
                <script src="{{ site.url }}/js/jquery.mousewheel.min.js"></script>
                <!-- include carousel plugins -->
                <script src="{{ site.url}}/js/jquery.tinycarousel.min.js"></script>
                <!-- include svg line drawing plugin -->
                <script src="{{ site.url }}/js/jquery.lazylinepainter.min.js"></script>
                <!-- include custom script -->
                <script src="{{ site.url }}/js/scripts.js"></script>
                <!-- Modernizr -->
                <script src="{{ site.url }}/js/modernizr.js"></script>
            </div>


        </div>
    </div>
</header>
{% include scripts.html %}
<script src="{{ site.url }}/assets/js/wow.min.js"></script>
<script type="text/javascript">(new WOW).init();</script>
</body>
</html>
